{% extends 'base/base.html' %}
<!DOCTYPE html>
{% block content %}
    <h3>Ingredients for the recipe</h3><br>
    <table border="1">
      <thead>
        <th>Article Number</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Cost</th>
      </thead>
      <tbody>
        {% for a in ingredientsrecipes %}
        <tr>
          <td>{{a.ingredient.id}}</td>
          <td>{{a.ingredient.name}}</td>
          <td>{{a.quantity}} {{a.ingredient.measure}}</td>
          <td>€0</td>
        </tr>
        {% endfor %}
      </tbody>
    </table><br>
    <table border="3">
      <tbody>
        <tr>
          <td><b>Total Cost</b></td>
          <td>€0</td>
        </tr>
      </tbody>
    </table><br>
    <p class="lead">
    <a href="addingredient" class="btn btn-lg btn-terceary">Add Ingredient</a>
    </p>
  {% endblock %}
